{% extends 'index.html' %}
{% load static %}

{% block content %}
<section id="hero" style="background-image:url(/static/img/banner-img1.png);">
    <div class="container padding-large">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h2 class="display-1 text-uppercase fw-lighter">Что такое <span
              class="fw-normal text-primary fw-bold">Lorem Ipsum</span></h2>
          <p class="mt-5">текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <img src="{% static 'img/banner-img.png' %}" alt="img" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="talk">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8 offset-md-1">
          <h3 class="display-5 fw-semibold">Get yourself the best possible online presence for your business </h3>
        </div>
        <div class="col-md-2 ">
          <a href="#" class="btn btn-primary ">Let's Talk</a>
        </div>
      </div>
    </div>

  </section> -->
{% endblock content %}